/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.page-template-default {
  a:link {
    text-decoration: none;
  }
  .front-hero-logo {
    display: flex;
  }
  .product-type-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .product-type-block-wrapper {
    width: 20%;
    height: auto;
    border: solid 1px #e1e1e1;
    border-top-width: 10px;
    p {
      padding: 20px;
    }
    a {
      padding: 10px 30px;
      background-color: #a1a1a1;
      color: white;
    }
    a:hover {
      background-color: #808080;
    }
  }
  .product-type-block-wrapper:hover {
    border-color: #d99054;
  }
  .prod-type-img {
    width: 100px;
    height: 100px;
    padding-top: 20px;
  }
  .journal-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .journ-art {
      width: 30%;
      height: 15%;
      border: solid 1px #e1e1e1;
      border-top-width: 10px;
      .entry-meta {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .adventure-container {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    .canoe-adv {
      background: url('../../images/adventure-photos/canoe-girl.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; // margin-right: 5px;
    }
    .triple-adv-wrapper {
      flex-direction: column;
      margin: 15px;
      height: 100%;
      width: 50%;
      .beach-adv {
        background: url('../../images/adventure-photos/beach-bonfire.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 48%;
        margin: 10px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .sky-mountain-wrapper {
        display: flex;
        flex-direction: row;
        height: 50%;
        .mountain-adv {
          background: url('../../images/adventure-photos/mountain-hikers.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: auto;
          margin: 10px;
          margin-bottom: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .sky-adv {
          background: url('../../images/adventure-photos/night-sky.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: auto;
          margin: 10px;
          margin-bottom: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      } // .adventure-more {
      //   display: block;
      // }
    }
  }
}

/* About page */

.page-template-about {
  .banner {
    position: absolute;
    top: 40%;
    right: 47%;
    color: white;
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
  }
}

/* Journal Archive Page */

.blog {
  .widget-area {
    float: right;
    right: 0px;
    max-width: 413px;
    position: absolute;
    width: 30%;
    text-align: left;
    svg {
      margin-right: 5px;
    }
    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;
      li {
        margin-top: .5rem;
        margin-right: 5px;
      }
      .media-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .site-content {
    display: block;
    border-right: 1px solid #e1e1e1;
    margin-right: 30%;
    width: 70%;
  }
}

/* Store page */

.post-type-archive-product {
  a:link {
    text-decoration: none;
  }

  .elipses {
    margin-top: -24px;
    z-index: 1;
  }
  
  .product-meta-box {
    display: flex;
    flex-direction: row;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    margin: 0 5px;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    
      .entry-title {
        text-transform: none;
      }

      .prod-title {
        padding: 0px;
        margin: 0px;
        background: white;
        z-index: 5;
      }
      .price {
        background: white;
        z-index: 5;
      }
  }
  .product-type-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 50px;
    text-transform: uppercase;
    .product-page-types {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      text-transform: uppercase;
    }
  }
  .site-main {
    width: 100%;
    .product-listing {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      type-product {
        margin: 0px 5px;
      }
      img {
        height: 200px;
        width: 320px;
        margin: 0 5px;
      }
    }
  }
}

/* Individual Products */

.single-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  a {
    text-decoration: none;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
  }
  .entry-content {
    width: 45%;
    height: auto;
    a {
      border: 1px solid black;
      padding: 10px 25px;
      margin: 5px;
      text-transform: uppercase;
    }
    svg {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
  .price-text {
    font-size: 2.5rem;
  }
  .entry-title {
    color: #d99054;
    text-transform: uppercase;
  }
}

/* Find Us Page */

.page-id-73 {
  .widget-area {
    float: right;
    right: 0px;
    max-width: 413px;
    position: absolute;
    width: 30%;
    text-align: left;
    svg {
      margin-right: 5px;
    }
    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;
      li {
        margin-top: .5rem;
        margin-right: 5px;
      }
    }
  }
  .site-content {
    padding-top: 50px;
    display: block;
    width: 70%;
    text-align: left;
    padding-left: 200px;
    border-right: 1px solid #e1e1e1;
  }
}

/* Search Page */

// .page-template-search {
//   padding: none; 
//   .widget-area {
//     float: right;
//     right: 0px;
//     max-width: 413px;
//     position: absolute;
//     width: 30%;
//     text-align: left;
//     svg {
//       margin-right: 5px;
//     }
//     ul {
//       list-style: none;
//       margin-left: 0px;
//       padding-left: 0px;
//       li {
//         margin-top: .5rem;
//         margin-right: 5px;
//       }
//     }
//   }
// }
/* 404 Page */

.error404 {
  width: 100%;
  li {
    list-style-type: none;
  }
  .widget_categories,
  .widget_recent_entries {
    ul {
      list-style-type: none;
      padding: 0;
      margin-left: 0;
      li {
        a:link {
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
  }
  .widget-area {
    float: right;
    right: 0px;
    max-width: 413px;
    position: absolute;
    width: 30%;
    text-align: left;
    svg {
      margin-right: 5px;
    }
    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;
      li {
        margin-top: .5rem;
        margin-right: 5px;
      }
    }
  }
  .site-content {
    padding-top: 50px;
    display: block;
    width: 70%;
    text-align: left;
    padding-left: 200px;
    border-right: 1px solid #e1e1e1;
  }
}