/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.product-type-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-type-block-wrapper {
  width: 20%;
  height: auto;
  border: solid 1px #e1e1e1;
  border-top-width: 10px;
  p {
    padding: 20px;
  }
  button {
    background-color: grey;
  }
}

.product-type-block-wrapper:hover {
  border-color: #d99054;
}

.prod-type-img {
  width: 100px;
  height: 100px;
  padding-top: 20px;
}

.journal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .journ-art {
    width: 30%;
    height: 15%;
    border: solid 1px #e1e1e1;
    border-top-width: 10px;
    
    .entry-meta {
      display: flex;
      flex-direction: column;
    }

    
 
 
 
  }

}
  /* About page */