/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.product-type-blocks {
  display: flex;
  flex-direction: row;

}
.product-type-block-wrappers {
  width: 20%;
  height: auto;
}

.prod-type-img {
  width: 70px;
  height: 70px;
}

.journal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.journ-art {
  width: 30%;
  height: auto;
}
/* About page */
